.container {
  max-width: 1100px;
  margin: auto;
}

h1 {
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
}

p {
  font-size: 20px;
  font-weight: 400;
}

.cta {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  &:hover {
    color: #222222;
  }
}